.box input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
.box p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.box input:focus ~ label {
  outline: -webkit-focus-ring-color auto 5px;
}
.box input:checked + p {
  -webkit-line-clamp: unset;
}
.navbar-default { margin : 0 !important; }
