{{#*inline "page"}}
<div class="container">
  <div class="col">
    <img src="static/images/01.png" style="max-width: 1200px;"/>
  </div>
  <hr/>
  <div class="col">
    <img src="static/images/02.png" style="max-width: 1200px;"/>
  </div>
  <hr/>
  <div class="col">
    <img src="static/images/03.png" style="max-width: 1200px;"/>
  </div>
  <hr/>
  <div class="row">
    <div class="col">
      <img src="static/images/04.png"/>
    </div>
    <div class="col">
      <img src="static/images/05.png"/>
    </div>
  </div>
</div>
{{/inline}}
{{> base}}
